body{
    line-height: 1.5;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo{
    display: block;
    width: 128px;
    height: 38px;
    background: url(../image/logo.png) center/cover;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.d-flex{
    display: flex;
}

.jcsb{
    justify-content: space-between;
}

.aic{
    align-items: center;
}

.fz-14{
    font-size: 14px;
}

.fz-20{
    font-size: 20px;
}

.fz-32{
    font-size: 32px;
}

.ft-gr{
    color: #8D8D8D;
}

.ft-wt{
    color: #FFFFFF;
}

.mr-5{
    margin-right: 20px;
}

/* header */

.header{
    padding-top: 9px;
    padding-bottom: 9px;
}

.header h1 a{
    display: block;
    width: 128px;
    height: 38px;
    background: url(../image/logo.png) center/cover;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.menu{
    width: 41%;
}

.menu li a{
    text-decoration: none;
}

.menu li a:hover{
    color: #AC8A46;
}

@media (max-width 767px)




















/* subscribe */

.subscribe{
    background: url(https://images.unsplash.com/photo-1532413992378-f169ac26fff0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx2aXN1YWwtc2VhcmNofDF8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=800&q=60) center/cover;
    padding-top: 312px;
    padding-bottom: 112px;
}
.subscribe p{
    font-weight: Semibold;
    margin-bottom: 20px;
}

.subscribe form{
    width: 30%;
}

.subscribe form input:nth-child(1){
    padding: 21px 57px 20px 16px;
    border: 2px solid #916000;
    border-radius: 4px 0 0 4px;
}

.subscribe form input:nth-child(2){
    padding: 21px 26px 20px 27px;
    background: #916000;
    border: 2px solid #916000;
    border-radius: 0 4px 4px 0;
}














/* footer */

.footer{
    background: #916000;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-left h2 a{
    background: url(../image/logo-wt.png) center/cover;
}

.footer-nav{
    width: 24%;
}

.footer-nav a{
    text-decoration: none;
}

.footer-nav a:hover{
    color: #000000;
}